body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
}

.hero {
    height: 400px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-card {
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 50px;
}

body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-mode .navbar {
    background-color: #1a1a2e !important;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333;
    color: #f0f0f0;
}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode .modal-header {
    border-bottom-color: #333;
}


body.dark-mode .modal-footer {
    border-top-color: #333;
}

body.dark-mode .list-group-item {
    background-color: #2a2a2a;
    color: #f0f0f0;
    border-color: #444;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    background-color: #2a2a2a;
    color: #f0f0f0;
    border-color: #555;
}

body.dark-mode .form-control::placeholder {
    color: #aaa;
}

body.dark-mode footer {
    background-color: #0d0d0d !important;
}

/* LOGIN PAGE*/

.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #c5acac, #c5a2a2);
}

.login-card form {
    margin-top: 10px;
}

.login-card {
    background-color: #d72a67;
    padding: 35px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
    border: 1px solid #fbf8f8;
}

.login-card h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.login-card .form-control {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid white;
}

.login-card .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.login-card .form-control::placeholder {
    color: #eeeeee;
}

.btn-login {
    background-color: #d0bbc8;
    border: none;
    color: #fffcfc;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #c74c75;
    transform: translateY(-2px);
}

.back-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.login-card .form-check {
    margin-top: 10px;
    color: #ffffff; 
}

.login-card .btn-login {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.login-card a {
    display: block;
    margin-top: 10px;
}
